/* Basic Style */
* {
  margin: 0;
  padding: 0px;
  list-style: none;
  outline: none;
}

.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
  min-height: calc(100vh - 8px);
}

.wrapper {
  display: block;
  width: 500px;
  margin: 8px auto;
}

.details {
  text-align: right;
}
.details__img {
  width: 100%;
}
.details__info {
  font-family: fantasy, cursive;
}

.main {
  padding: 1em 0;
}

.unit {
  padding-top: 30px;
}
.unit__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
  padding-bottom:10px;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
}

.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task--new {
  border: none;
}
.task__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}
.task__label--done {
  text-decoration: line-through;
  color: #888;
}
.task__label--shown {
  display: inline-block;
  width: 224px;
}
.task__label--hidden {
  display: none;
}
.task__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: lato, sans-serif;
  color: #888;
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task__input:focus {
  color: #333;
}
.task__input--shown {
  display: inline-block;
  width: 224px;
}
.task__input--hidden {
  display: none;
}
.task__check {
  margin: 0 10px;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.button:hover {
  color: #3a3a3a;
}
.button__img {
  height: 2em;
  transform: rotatez(45deg);
  transition: transform 200ms ease-in;
}
.button__img:hover {
  transform: rotatez(0);
}

@media (max-width:768px) {

  .details {
    text-align: center;
  }

}